.hidden { display: $hidden }
.disabled { opacity: 0.4; }

#welcome-wrapper {
    text-align: center;

    h2 { 
        font-size: 0.9em;
        margin: 30px auto;
        text-align: center;
        width: 700px;
    }

    input { 
        margin: 5em auto 2em auto;
        width: 350px;
        text-align: center;
        padding: 1em;
        border: 2px solid #aaaaaa;
        border-radius: 100px;
    }
    
    input::placeholder {
        color: #aaa;
        font-size: 13px;
    }

    button { 
        font-size: 1em; 
        background-color: #EEBA30; 
        color: $knockout-color;
        padding: 0.8em 1.2em;
        border: none;
        border-radius: 100px;
        margin: 1em  0.5em;
        cursor: pointer;
    }

    button:hover {
        background-color: #353535;
        color: white;
        transition: all .3s ease-out;
    }
}